@import "assets/fonts/fonts.css";

* {
  margin: 0;
  font-family: "Lato", sans-serif;
}

.visually-hidden {
	position: absolute !important;
	clip: rect(1px, 1px, 1px, 1px);
	padding:0 !important;
	border:0 !important;
	height: 1px !important; 
	width: 1px !important; 
	overflow: hidden;
}

.wrapper {
  max-width: 1020px;
  padding: 0 40px;
  margin: 0 auto;
  box-sizing: border-box;
}

.site-header {
  background-color: #2d303a;
  height: 95px;
  box-sizing: border-box;
  border-bottom: 6px solid #323746;
}

.site-header .wrapper {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 25px;
  line-height: 25px;
  font-weight: bold;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: -0.7px;
}

.logo::after {
  content: "*";
  color: #f06c64;
}

.site-header__nav {
  padding: 0;
  display: flex;
  list-style: none;
  font-size: 12px;
  line-height: 12px;
  font-weight: bold;
  padding-top: 8px;
}

.site-header__nav-item {
  position: relative;
  height: 30px;
  margin-left: 28.67px;
  margin-top: 18px;
}

.site-header__nav-item a {
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  height: 100%;
}

.site-header__nav-item:not(:last-child)::after {
  content: ".";
  display: block;
  width: 5px;
  height: 5px;
  position: absolute;
  right: -18px;
  top: -2px;
  color: #494e62;
}

.site-header__nav-item a:hover {
  color: #f06c64;
}

.phone {
  background-repeat: no-repeat;
  position: relative;
  flex-shrink: 0;
}

.phone--vertical {
  background-image: url("assets/img/phone-vertical.png");
  width: 240px;
  height: 483px;
}

.phone--horizontal {
  background-image: url("assets/img/phone-horizontal.png");
  width: 483px;
  height: 240px;
}

.phone .phone__display {
  position: absolute;
}

.phone--vertical .phone__display {
  left: 14px;
  top: 65px;
}

.phone--horizontal .phone__display {
  left: 60px;
  top: 13px;
}

.slider {
  background-color: #f06c64;
  box-sizing: border-box;
  border-bottom: 6px solid #ea676b;
  position: relative;
}

.slider__phone-left {
  position: relative;
  left: -6px;
}

.slider__phone-right {
  position: relative;
  left: 5px;
}

.slider .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 53px;
  padding-bottom: 58px;
}

.slider__arrow {
  width: 16px;
  height: 27px;
  background: url("assets/img/left-arrow.png") no-repeat;
  border: none;
  cursor: pointer;
}

.slider__arrow:hover {
  opacity: 75%;
}

.slider__arrow--right {
  transform: rotate(180deg);
}

.services {
  background-color: #f2f2f2;
  color: #666d89;
  padding-bottom: 63px;
  box-sizing: border-box;
  border-bottom: 6px solid #ffffff;
  text-align: justify;
}

.services__header {
  font-size: 30px;
  line-height: 30px;
  padding-top: 62px;
  font-weight: 900;
}

.services__description {
  font-size: 18px;
  line-height: 30px;
  font-weight: 300;
  padding-top: 21px;
  color: #767e9e;
}

.services__list {
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 300px);
  column-gap: 20px;
  row-gap: 20px;
  padding-top: 47px;
}

.services__list-item {
  padding-left: 80px;
  height: 103px;
  position: relative;
  overflow: hidden;
}

.services__item-header {
  font-size: 18px;
  line-height: 18px;
  font-weight: 900;
  display: flex;
  flex-direction: column;
  padding-bottom: 7px;
}

.services__item-description {
  font-size: 12px;
  line-height: 21.56px;
  color: #767e9e;
  text-align: justify;
}

.services__item-image-border {
  
  position: absolute;
  left: 0;
  top: 0;
  width: 59px;
  height: 59px;
  box-sizing: border-box;
  border-radius: 50%;
  border: 2px solid #666D89;
  display: flex;
  align-items: center;
  justify-content: center;
}
