* {
  /* Блочная модель */
  margin: 0;

  /* Типографика */
  font-family: "Lato", sans-serif;
}

body {
  /* Блочная модель */
  min-width: 1020px;
}

.preload * {
  /* Анимация */
  transition: none !important;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  padding:0 !important;
  border:0 !important;
  height: 1px !important; 
  width: 1px !important; 
  overflow: hidden;
}

.wrapper {
  /* Блочная модель */
  max-width: 1020px;
  padding: 0 40px;
  margin: 0 auto;
  box-sizing: border-box;
}

.site-header {
  /* Блочная модель */
  box-sizing: border-box;
  height: 95px;

  /* Оформление */
  background-color: #2d303a;
  border-bottom: 6px solid #323746;
}

.site-header .wrapper {
  /* Блочная модель */
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.site-header__nav {
  /* Блочная модель */
  padding: 0;
  display: flex;
  padding-top: 11px;

  /* Типографика */
  font-size: 12px;
  line-height: 12px;
  font-weight: bold;

  /* Оформление */
  list-style: none;
}

.site-header__nav-item {
  /* Позиционирование */
  position: relative;

  /* Блочная модель */
  height: 30px;
  margin-left: 32.5px;
  margin-top: 18px;
}

.site-header__nav-item a {
  /* Блочная модель */
  display: block;
  height: 100%;

  /* Типографика */
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: -0.035em;
  
  /* Анимация */
  transition: color .27s ease-out;
}

.site-header__logo {
  position: relative;
  top: 2px;
}

.site-header__nav-item:not(:last-child)::after {
  /* Позиционирование */
  position: absolute;
  right: -18px;
  top: -1px;

  /* Блочная модель */
  display: block;
  
  /* Типографика */
  color: #ffffff;

  /* Разное */
  content: "\00B7";
}

.site-header__nav-item a:hover {
  /* Типографика */
  color: #f06c64;
}

.phone {
  /* Позиционирование */
  position: relative;

  /* Блочная модель */
  flex-shrink: 0;

  /* Оформление */
  background-repeat: no-repeat;
}

.slider {
  /* Позиционирование */
  position: relative;

  /* Блочная модель */
  box-sizing: border-box;
  
  /* Оформление */
  background-color: #f06c64;
  border-bottom: 6px solid #ea676b;
}

.phone {
  /* Позиционирование */
  position: relative;
  /* Блочная модель */
  flex-shrink: 0;

  /* Оформление */
  background-repeat: no-repeat;
}

.phone--vertical {
  /* Позиционирование */
  top: 1px;
  right: 5px;

  /* Блочная модель */
  width: 240px;
  height: 483px;

  /* Оформление */
  background-image: url("assets/img/phone-vertical.svg"), url("assets/img/phone-vertical-shadow.png");
}

.phone--horizontal {
  /* Позиционирование */
  top: 2px;
  left: 6px;

  /* Блочная модель */
  width: 483px;
  height: 240px;

  /* Оформление */
  background-image: url("assets/img/phone-horizontal.svg"), url("assets/img/phone-horizontal-shadow.png");
}

.phone .phone__display {
  /* Позиционирование */
  position: absolute;
}

.phone--vertical .phone__display {
  /* Позиционирование */
  left: 14px;
  top: 65px;
}

.phone--horizontal .phone__display {
  /* Позиционирование */
  left: 60px;
  top: 14px;
}

.slider .wrapper {
  /* Блочная модель */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 53px;
  padding-bottom: 58px;
}

.slider__arrow {
  /* Блочная модель */
  width: 16px;
  height: 27px;
  
  /* Оформление */
  background: url("assets/img/arrow-left.svg") no-repeat;
  background-repeat: no-repeat;
  border: none;
  border-radius: 3px;
  cursor: pointer;

  /* Анимация */
  transition: filter .27s ease-out;
}

.slider__arrow:hover {
  /* Оформление */
  filter: brightness(80%);
}

.slider__arrow--left {
  /* Позиционирование */
  position: relative;
  top: 2px;
}

.slider__arrow--right {
  /* Позиционирование */
  position: relative;
  top: 2px;

  /* Оформление */
  transform: rotate(180deg);
}

.services {
  /* Блочная модель */
  box-sizing: border-box;
  padding-bottom: 46px;

  /* Типографика */
  color: #666d89;

  /* Оформление */
  background-color: #f2f2f2;
  border-bottom: 6px solid #ffffff;
}

.services__list {
  /* Блочная модель */
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 20px;
  row-gap: 20px;
  padding-top: 36px;

  /* Оформление */
  list-style: none;
}

.services__list-item {
  /* Позиционирование */
  position: relative;

  /* Блочная модель */
  padding-left: 80px;
  height: 104px;
  
  /* Оформление */
  overflow: hidden;
}

.services__item-header {
  /* Блочная модель */
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  
  /* Типографика */
  font-size: 18px;
  line-height: 18px;
  font-weight: 900;
}

.services__item-description {
  /* Блочная модель */
  display: block;

  /* Типографика */
  font-size: 12px;
  line-height: 21px;
  color: #767e9e;
  text-align: justify;
}

.services__item-image {
  /* Позиционирование */
  position: absolute;
  left: 0;
  top: 0;
}

.section {
  /* Блочная модель */
  padding-top: 62px;
}

.section__header {
  /* Блочная модель */
  padding-bottom: 11px;

  /* Типографика */
  line-height: 30px;
  text-align: justify;
}

.section__name {
  /* Блочная модель */
  padding-bottom: 21px;

  /* Типографика */
  font-size: 30px;
  font-weight: 900;
  color: #666d89;
}

.section__description {
  /* Типографика */
  font-size: 18px;
  font-weight: 300;
  color: #767e9e;
}

.portfolio {
  /* Блочная модель */
  padding-bottom: 68px;

  /* Оформление */
  background-color: #2d303a;
  border-bottom: 6px solid #323746;
}

.filter {
  /* Блочная модель */
  display: flex;
  padding-top: 1px;
}

.filter__item {
  /* Блочная модель */
  margin-right: 10px;
  padding: 1px 6.2px;

  /* Типографика */
  font-size: 12px;
  line-height: 18px;
  color: #767e9e;

  /* Оформление */
  border: 1px solid rgb(102, 109, 137);
  border-radius: 5px;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  
  /* Анимация */
  transition: .27s ease-out;
}

.filter__item--active, .filter__item:hover {
  /* Типографика */
  color: #dedede;

  /* Оформление */
  border-color: rgb(197, 197, 197);
}

.portfolio__works {
  /* Блочная модель */
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 20px;
  padding-top: 18px;
  max-height: 604px;

  /* Оформление */
  list-style: none;
  overflow: hidden;
}

.portfolio__work-image {
  /* Блочная модель */
  display: block;
}

.about-us {
  /* Блочная модель */
  padding-bottom: 67px;

  /* Оформление */
  background-color: #f2f2f2;
  border-bottom: 6px solid #ffffff;
}

.about-us__people-list {
  /* Блочная модель */
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  padding-top: 33px;

  /* Оформление */
  list-style: none;
}

.about-us__person {
  /* Блочная модель */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 443px;
  
  /* Типографика */
  color: #666d89;

  /* Оформление */
  overflow: hidden;
}

.about-us__person-image {
  /* Блочная модель */
  width: 300px;
  height: 300px;
}

.about-us__person-name {
  /* Блочная модель */
  height: 18px;
  padding-top: 6px;
  
  /* Типографика */
  font-size: 18px;
  line-height: 18px;
  font-weight: 900;

  /* Оформление */
  overflow: hidden;
  text-overflow: ellipsis;
}

.about-us__person-description {
  /* Блочная модель */
  padding-bottom: 13px;

  /* Типографика */
  font-size: 12px;
  line-height: 21px;
  color: #767e9e;
  text-align: justify;
}

.social-list {
  /* Блочная модель */
  padding: 0;
  display: grid;
  grid-template-columns: repeat(4, 32px);
  grid-template-rows: 32px;
  grid-gap: 8px;

  /* Оформление */
  list-style: none;
}

.social-list__item {
  /* Блочная модель */
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;

  /*  Оформление */
  border: 1px solid #666D89;
  border-radius: 50%;

  /* Анимация */
  transition: background-color .27s ease-out;
}

.social-list__item svg {
  fill: #666D89;
}

.social-list__item:hover {
  /* Оформление */
  background-color: #2d303a;
}

.social-list__item:hover svg {
  /* Оформление */
  fill: #ffffff;
}

.social-list--footer .social-list__item:hover {
  background-color: #ffffff;
}

.social-list--footer .social-list__item:hover svg {
  fill: #2d303a;
}

.flex-justify {
  /* Блочная модель */
  display: flex;
  justify-content: space-between;
  flex-shrink: 0;
}

.section__header--light .section__name {
  /* Оформление */
  color: #f0d8d9;
}

.section__header--light .section__description {
  /* Оформление */
  color: #f0d8d9;
}

.quote {
  /* Блочная модель */
  padding-bottom: 13px;

  /* Оформление */
  background-color: #f06c64;
  border-bottom: 6px solid #ea676b;
}

.quote__content {
  /* Блочная модель */
  margin-top: 33px;
}

.form {
  /* Блочная модель */
  display: flex;
  flex-direction: column;
  width: 619px;
}

.input-text {
  /* Блочная модель */
  margin-bottom: 16px;
  padding-left: 15px;
  max-width: 100%;
  min-width: 100%;
  box-sizing: border-box;
  height: 38px;

  /* Типографика */
  font-size: 12px;
  line-height: 12px;
  color: #f0d8d9;
  
  /* Оформление */
  background-color: #d6564f;
  border: none;
  border-radius: 4px;
  outline: none;
  resize: none;

  /* Анимация */
  transition: background-color .27s ease-out,
  box-shadow .27s ease-out;
}

.input-text:hover, .input-text:focus {
  /* Оформление */
  background-color: #bd4c46;
  box-shadow: 0px 0px 7px -1px rgba(0,0,0,0.39);
}

.input-text:focus {
  /* Типографика */
  color: #000000;

  /* Оформление */
  background-color: #ffffff;
  box-shadow: 0px 0px 7px -1px rgba(0,0,0,0.39);
}

.input-text:required:focus:invalid {
  /* Оформление */
  border: 3px solid red;
}

.input-text:required:focus:valid {
  /* Оформление */
  border: 3px solid green;
}

.input-text.input-text--textarea {
  /* Блочная модель */
  height: 159px;
  padding-top: 12px;
}

.input-text::placeholder {
  /* Типографика */
  color: #f48c8f;
  opacity: 1;
}

.contact-information {
  /* Блочная модель */
  width: 300px;

  /* Типографика */
  color: #f0d8d9;
}

.contact-information__header {
  /* Блочная модель */
  margin-bottom: 10px;

  /* Типографика */
  font-size: 18px;
  font-weight: 900;
  line-height: 18px;
  
}

.contact-information__description {
  /* Блочная модель */
  margin-bottom: 29px;

  /* Типографика */
  font-size: 12px;
  line-height: 21px;
  text-align: justify;
}

.contact {
  /* Позиционирование */
  position: relative;

  /* Блочная модель */
  display: block;
  margin-bottom: 9.5px;
  padding-left: 23px;
  
  /* Типографика */
  font-size: 12px;
  line-height: 12px;
  color: #f0d8d9;
  text-decoration: none;
}

.contact--tel {
  /* Позиционирование */
  position: relative;
  bottom: 1px;
}

.contact::before {
  /* Позиционирование */
  position: absolute;
  left: 0;

  /* Блочная модель */
  display: block;
  width: 12px;
  height: 12px;

  /* Оформление */
  background-repeat: no-repeat;
  background-position: center;

  /* Разное */
  content: "";
}

.contact--location::before {
  /* Оформление */
  background-image: url("./assets/img/ico-location.svg");
}

.contact--tel::before {
  /* Оформление */
  background-image: url("./assets/img/ico-phone.svg");

}

.contact--email::before {
  /* Позиционирование */
  top: 1px;

  /* Оформление */
  background-image: url("./assets/img/ico-mail.svg");
}

.site-footer {
  /* Блочная модель */
  height: 76px;

  /* Оформление */
  background-color: #2d303a;
}

.site-footer .wrapper{
  /* Блочная модель */
  align-items: center;
  justify-content: center;
  height: 100%;
}

.form__submit {
  /* Блочная модель */
  height: 38px;
  width: 136px;

  /* Типографика */
  text-transform: uppercase;
  color: #886A30;
  font-weight: bold;

  /* Оформление */
  border: none;
  background: #FBC65F;
  border-radius: 5px;
  outline: none;
  cursor: pointer;

  /* Анимация */
  transition: background-color .27s ease-out,
  background-color .27s ease-out;
}

.form__submit:hover {
  /* Оформление */
  background-color: #bd4c46;
  box-shadow: 0px 0px 7px -1px rgba(0,0,0,0.39);
}
